h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

h3 {
    margin: 4px 0;
    font-weight: bold;
    font-size: 16px;
}

h4 {
    margin: 4px 0;
    font-weight: bold;
}

p {
    margin: 8px 0;
}

.basic-link {
    text-decoration: none;
    color: black;
}

article {
    margin-bottom: 64px;
}