.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.nav-ul li {
    padding: 40px;
    border-top-style: solid;
    border-top-color: white;
    transition: border 0.3s, color 0.3s;
}

.nav-ul li:hover {
    color: var(--main-color);
    cursor: pointer;
    border-top-style: solid;
    border-top-color: var(--main-color)
}