.search-container {
    margin: 20px 0 32px 0;
    display: flex;
}

.search-input {
    height: 56px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border-left-style: none;
    border-right-style: none;
    border-top: 1px solid var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
    box-sizing: border-box;
    padding: 0 0 0 16px;
}

.custom-location-icon {
    background-color: var(--bg-color);
    width: 48px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.search-submit {
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 14px 16px;
}

.title-filter-container b {
    font-size: 18px;
    margin-right: 32px;
}

.title-filter-container {
    display: flex;
    align-items: center;
}

.title-filter-container div {
    display: flex;
}

.filter-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

.filter {
    display: flex;
    padding: 16px 24px;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: 2px;
    border-radius: 28px;
    white-space: nowrap;
    margin-right: 24px;
}

.filter:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.filter-container li i {
    color: var(--main-color);
    margin-right: 10px;
}