@font-face {
    font-family: raleway;
    src: url(font/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: raleway;
    src: url(font/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    font-family: raleway;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    padding: 0 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

.nav-ul li {
    padding: 40px;
    border-top-style: solid;
    border-top-color: white;
    transition: border 0.3s, color 0.3s;
}

.nav-ul li:hover {
    color: #0065FC;
    cursor: pointer;
    border-top-style: solid;
    border-top-color: #0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 23px 0;
}

h3 {
    margin: 60px 0 20px 0;
}

h4 {
    margin: 4px 0;
    font-weight: 7OO;
}

p {
    margin: 8px 0;
}

.search-container {
    margin: 20px 0 32px 0;
    display: flex;
}

.search-input {
    height: 54px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border-left-style: none;
    border-right-style: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    box-sizing: border-box;
    padding: 0 0 0 16px;
}

.custom-location-icon {
    background-color: #F2F2F2;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.search-submit {
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 14px 16px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

.filter {
    margin-left: 32px;
    padding: 16px 24px;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: 2px;
    border-radius: 28px;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter-container li i {
    color: #0065FC;
    margin-right: 10px;
}

.info {
    margin: 38px 0;
}

.info i {
    color: #0065FC;
    margin-right: 8px;
}

.link-card {
    text-decoration: none;
    color: black;
}

.card-horizontal-container {
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 208px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-horizontal-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-card-horizontal {
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    object-fit: cover;
}

.title-price-card {
    margin-left: 16px;
}

.star-notation-container {
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.star-notation-container i {
    font-size: 12px;
    margin-right: 2px;
    color: #0065FC;
}

.star-notation-container i:last-child {
    color: #F2F2F2;
}

.card-vertical-container {
    display: flex;
    background-color: #ffffff;
    height: 144px;
    width: 343px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-vertical-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-card-vertical {
    height: 100%;
    width: 137px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}

.title-price-star-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 16px 12px 0;
}

.hospitality-popularity-container {
    display: flex;
    height: 626px;
}

.hospitality-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 2;
    margin-right: 20px;
    padding: 40px;
}

.popularity-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 1;
    margin-left: 20px;
    padding: 40px;
}

.title-icon-card-container {
    display: flex;
    justify-content: space-between;
}

.title-icon-card-container i {
    color: #0065FC;
}

.all-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.activities-container {
    display: flex;
    flex-direction: column;
    height: 448px;
    width: 302px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.activities-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-activity {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.subtitle-activities-card {
    margin: 15px 20px 20px 20px;
}

.footer {
    background-color: #F2F2F2;
    height: 225px;
    margin-top: 60px;
    display: flex;
    padding: 45px 70px;
}

.footer-section {
    list-style-type: none;
    padding: 0;
    flex-basis: 33%;
}

.title-footer-section {
    margin-bottom: 20px;
}

.footer-section li {
    margin-bottom: 12px;
}